<div ng-controller='pollsController'>
  <div class="">
    <a href="#!/partial4">Create a New Poll</a>
    <a href="#">Logout</a>
  </div>
  <div class="">
    <h3>Current Polls:</h3>
    <input type="text" placeholder="Search" ng-model='search'>
    <table>
      <tr>
        <th>Name</th>
        <th>Survey Question</th>
        <th>Date Posted</th>
        <th>Action</th>
      </tr>
      <tr ng-repeat='poll in polls | filter: search'>
        <td>{{ poll.user }}</td>
        <td><a href="#!/poll/{{ poll._id }}">{{ poll.question }}</a></td>
        <td>{{ poll.date | date: 'MMM dd yyyy'}}</td>
        <td ng-show='poll.user === me'><a href="" ng-click='deletePoll(poll)'>Delete</a></td>
      </tr>
    </table>
  </div>
</div>
